body {
  font-family: "Roboto", serif;
  color: #F9FAF8;
  margin: 0;
}

.blue-background {
  background-color: #1F2937;
}

.white-background {
  background-color: white;
}

.grey-background {
  background-color: #E5E7EB;
}

.top-content, 
.content-section, 
.quote-container, 
.call-to-action {
  width: 64%;
  margin: 0 auto;
}

/* Top Content */

.top-content {
  display: flex;
  flex-flow: column;
  padding-bottom: 8rem;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3.5rem;
}

.header-logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.navigation {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  font-size: 1.125rem;
  color: #e5e7ebd1;
}

/* Hero */

.hero {
  display: flex;
}

.hero-left {
  flex: 1;
}

.hero-left > h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: 900;
}

.hero-left > p {
  margin: 0;
  padding-right: 1rem;
  padding-bottom: 0.75rem;
  font-size: 1.125rem;
  color: #e5e7ebd1;
}

button {
  background-color: #3882F6;
  padding: 0.5rem 2rem;
  border: none 0.5rem;
  border-radius: 0.5rem;
  color: inherit;
  font-size: 1.125rem;
  font-weight: 600;
}

.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6D747D;
  color: #E5E7EB;
  font-size: 1.125rem;
}

/* Content */

.content-section {
  padding-bottom: 6.5rem;
}

.content-section > h2 {
  font-size: 2.25rem;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
}

.img-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.img-box {
  width: 152px;
}

.img-box > img {
  height: 152px;
  width: 152px;
  border: 4px solid #3882F6;
  border-radius: 16px;
}

.img-box > p {
  width: 152px;
  margin: 0;
  text-align: center;
  color: #595b5f;
}

/* Quote */

.quote-container {
  padding: 6.5rem 0 4.5rem 0;
  width: 52%;
  font-family: inherit;
}

.quote {
  margin: 0;
  font-size: 2.25rem;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
}

.author {
  margin: 0 3rem 0 0;
  font-size: 1.25rem;
  font-weight: 900;
  color: #1f2937;
  text-align: right;
}

/* Call-to-Action */

.call-to-action {
  background-color: #3882f6;
  margin: 5.5rem auto;
  padding: 3rem 0;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.right-action > button {
  border: 2px solid white;
}

.left-action > p {
  margin: 0;
  font-weight: 300;
  color:#E5E7EB;
}

.left-action > .bold {
  font-size: 18px;
  font-weight: 700;
  color: white;
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer > p {
  padding: 1rem 0;
}
