body {
  font-family: "Roboto", serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body > div {
  padding: 0 250px;
}

/*HEADER*/

.header {
  display: flex;
  background-color: #1F2937;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 700;
}

.navigation {
  display: flex;
  gap: 16px;
  list-style-type: none;
  font-size: 18px;
  color: #E5E7EB;
}

/*HEADER END*/

/*HERO SECTION*/

.hero-section {
  display: flex;
  background-color: #1F2937;
  padding-bottom: 125px;
}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.hero-left h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  margin-bottom: 0;
}

.hero-left p {
  margin-top: 0;
  font-size: 18px;
  color: #E5E7EB;
}

.hero-left-button-container button {
  color: #F9FAF8;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 32px;
  background-color: #3882F6;
  border: none;
  border-radius: 8px;
}

.hero-right {
  display: flex;
  background-color: #6D747D;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: white;
}

/*HERO SECTION END*/

/*CONTENT SECTION START */

.content-section {
  background-color: white;
}

.content-section > h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
}

.image-container {
  display: flex;
  gap: 8px;
  justify-content: space-evenly;
  margin-bottom: 120px;
}

.image-container img {
  height: 175px;
  width: 175px;
  border: 4px solid #3882F6;
  border-radius: 16px;
}

.img-box p {
  width: 175px;
  margin: 0;
  text-align: center;
  color: #595b5f;
}















.header, .footer {
  color: white;
}

.quote-container {
  background-color: lightgreen;
}

.call-to-action-container {
  background-color: lightsalmon;
}
